#main-text h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

#main-text p {
    padding: 30px 30px;
    border-top: 2px solid #6e779c;
    border-bottom: 2px solid #6e779c;
    
    text-align: center;
    letter-spacing: 1px;
    font-size: large;
    font-weight: 600;    
}

/* -- Contact Fields -- */
.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
}

/* Text Boxes */
input[type=text], select, textarea {
    width: 300px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px; 
    border: 1px solid #c0c4d4;
    border-radius: 4px;
    resize: vertical;
    letter-spacing: 1px;
}

/* Submit Button */
input[type=submit] {
    padding: 12px 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;

    background-color: #6e779c;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
  }
/* ----------------- */

#references {
    padding: 20px 30px;
    border-top: 2px solid #c0c4d4;
    color: #383D4F;
}